{% extends "layout.html" %}

{% block title %}Poorer{% endblock %}

{% block content %}
<h1>Poorer</h1>

<p>
There is currently no pretty UI. But you can still manually change the URL in
order to visit the following endpoints:

<ul>
  <li><a href="/all">/all</a></li>
  <li>/year (example: <a href="/2020">/2020</a>, <a href="/2019">/2019</a>, <a href="/2018">/2018</a>, <a href="/2017">/2017</a> etc)</li>
  <li>/year/month (example: <a href="/2019/1">/2019/01</a>)</li>
  <li><a href="/to">/to</a></li>
  <li>/to/recipient (example: /to/MyFavoritePub)</li>
</ul>
</p>
{% endblock content %}
