{% extends "layout.html" %}

{% block title %}Poorer - Year {{ year }}{% endblock %}

{% block js_includes %}
<script type=text/javascript src="{{
  url_for('static', filename='js/flotcharts/jquery.min.js') }}"></script>
<script type=text/javascript src="{{
  url_for('static', filename='js/flotcharts/jquery.flot.min.js') }}"></script>
<script type=text/javascript src="{{
  url_for('static', filename='js/flotcharts/jquery.flot.pie.min.js') }}"></script>
<script type=text/javascript src="{{
  url_for('static', filename='js/jquery.easytabs.min.js') }}"></script>
<script type=text/javascript src="{{
  url_for('static', filename='js/numeraljs/min/numeral.min.js') }}"></script>
<script type=text/javascript src="{{
  url_for('static', filename='js/numeraljs/min/locales.min.js') }}"></script>
<script type=text/javascript src="{{
  url_for('static', filename='js/locale.js') }}"></script>
{% endblock js_includes %}

{% block css_includes %}
<link rel="stylesheet" href="{{
  url_for('static', filename='css/spendings.css') }}"></link>
{% endblock css_includes %}

{% block content %}
{% if year is defined %}
{% if month is defined %}
<h1>{{ month }}/{{ year }}</h1>
{% else %}
<h1>Year {{ year }}</h1>
{% endif %}
{% else %}
<h1>All</h1>
{% endif %}

<p>
  <a href="/">Back to the index</a>
</p>

{% if year is defined %}
<p>
  <a href="/{{ year - 1 }}">Previous year</a>
  <a href="/{{ year + 1 }}">Next year</a>
</p>

<p>
  <a href="/{{ year }}">Whole year</a>
</p>

<p>
  <a href="/{{ year }}/1">January</a>
  <a href="/{{ year }}/2">February</a>
  <a href="/{{ year }}/3">March</a>
  <a href="/{{ year }}/4">April</a>
  <a href="/{{ year }}/5">May</a>
  <a href="/{{ year }}/6">June</a>
  <a href="/{{ year }}/7">July</a>
  <a href="/{{ year }}/8">August</a>
  <a href="/{{ year }}/9">September</a>
  <a href="/{{ year }}/10">October</a>
  <a href="/{{ year }}/11">November</a>
  <a href="/{{ year }}/12">December</a>
</p>
{% endif %}


<div id="tab-container" class="tab-container">
  <ul class="etabs">
    <li class="tab"><a href="#tab-general">Summary</a></li>
    <li class="tab"><a href="#container-earnings">Earnings</a></li>
    <li class="tab"><a href="#container-spendings">Spendings (per recipient)</a></li>
    <li class="tab"><a href="#container-spendings-category">Spendings (per category)</a></li>
  </ul>
  <div class="tab-panel-container">
    <div class="container" id="tab-general"></div>
    <div class="container" id="container-earnings">
      <div id="earnings-chart-div" class="pie-chart"></div>
      <div id="earnings-legend-div" class="pie-chart-legend"></div>
    </div>
    <div class="container" id="container-spendings">
      <div id="spendings-chart-div" class="pie-chart"></div>
      <div id="spendings-legend-div" class="pie-chart-legend"></div>
    </div>
    <div class="container" id="container-spendings-category">
      <div id="spendings-category-chart-div" class="pie-chart"></div>
      <div id="spendings-category-legend-div" class="pie-chart-legend"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
numeral.locale('{{ locale }}');

$('#tab-container').easytabs({
    animate: false,
    updateHash: false,
});

function build_summary(total_spendings, total_earnings, div_id)
{
    total_earnings /= 100
    total_spendings /= 100
    ul = $("<ul></ul>")
    ul.append("<li>You earnt " + locale_currency_str(total_earnings) + "</li>")
    ul.append("<li>You spent " + locale_currency_str(total_spendings) + "</li>")
    if (total_earnings > total_spendings) {
        diff = total_earnings - total_spendings
        ul.append("<li>You saved " + locale_currency_str(diff) + "</li>")
    } else {
        diff = total_spendings - total_earnings
        ul.append("<li>You lost " + locale_currency_str(diff) + "</li>")
    }
    if (total_earnings > 0) {
        ul.append("<li>You spent " +
                  locale_percent(100 * (total_spendings/total_earnings)) +
                  " of your earnings.")
    }
    $('#'+div_id).append(ul)
}

function build_legend(flot_graph, legend_div)
{
    data = flot_graph.getData()
    data.sort(function(a, b) {
        return a.data[0][1] - b.data[0][1];
    });
    var total = 0;

    table = $("<table></table>").attr("border", "1")
    table.append("<tr><td></td><td>To</td><td>Amount (" +
                 locale_currency_symbol() + ")</td><td>%</td></tr>")
    $('#' + legend_div).append(table)

    $.each(data, function(index, value) {
        table.find("tr:first").after(
            '<tr>' +
            '<td class="legendColorBox" style="background-color:' +
            value.color+';"></td>' +
            '<td class="label"><a href="/to/' + value.label + '">' + value.label + '</a></td>' +
            '<td class="price">' + locale_currency_str(value.data[0][1], false) + '</td>' +
            '<td class="percent">' + locale_percent(value.percent, false) + '</td>' +
            '</tr>');
        total += value.data[0][1] * 100;
    });
    table.find("tbody:last").after(
        '<tfoot><tr>' +
        '<td></td>'+
        '<td>Sum</td>' +
        '<td class="price">' + locale_currency_str(total/100, false) + '</td>' +
        '<td>' + locale_percent(100, false) + '</td>' +
        '</tr></tfoot>'
    );
}


function draw_piechart(stats, chart_div, legend_div) {
    $('#' + chart_div).bind("plothover", function(event, pos, obj) {
        if (!obj) {
            $('#' + legend_div + ' tr').each(function(index) {
                $(this).css('background-color', '');
            });
            return;
        } else {
            $('#' + legend_div + ' tr').each(function(index) {
                children = $(this).children();
                label = ($(this).children('.label').text())
                if (label == obj.series.label) {
                    $('#' + legend_div + ' tr').each(function(index) {
                        $(this).css('background-color', '');
                    });
                    color = $(this).children('.legendColorBox').css('background-color')
                    $(this).css('background-color', color);
                    return false;
                }
            });
        }
    });

    return $.plot('#' + chart_div, stats, {
        grid: {
            hoverable: true
        },  
        legend: {
            show: false
        },  
        series: {
            pie: {
                radius: 0.85,
                show: true,
                label: {
                    show: true,
                    background: {
                        opacity: 0.5 
                    },  
                    formatter: labelFormatter,
                    radius: 1,
                    threshold: 0.05
                },  
            }   
        }   
    });
}

function build_piechart(stats, chart_div, legend_div) {
    p = draw_piechart(stats, chart_div, legend_div)
    build_legend(p, legend_div)
}

function labelFormatter(label, series) {
    return "<div style='font-size:8pt; text-align:center; padding:2px; color:black;'>" + label + " " + Math.round(series.percent) + "%</div>";
}

/* Summary */
build_summary(
    {{ spendings|sum(attribute='total') }},
    {{ earnings|sum(attribute='total') }},
    'tab-general');

/* Earnings */
stats = []
{% if earnings|length > 0 %}
{% for earning in earnings %}
stats.push({
    data: {{ earning.total }}/100,
    label: "{{ earning.from_ }}"
})
{% endfor %}
build_piechart(stats, 'earnings-chart-div', 'earnings-legend-div')
{% endif %}

/* Spendings (by recipients) */
stats = []
{% if spendings|length > 0 %}
{% for spending in spendings %}
stats.push({
    data: {{ spending.total }}/100,
    label: "{{ spending.to }}"
})
{% endfor %}
build_piechart(stats, 'spendings-chart-div', 'spendings-legend-div')
{% endif %}

/* Spendings (by categories) */
stats = []
{% if spendings_category|length > 0 %}
{% for spending in spendings_category %}
stats.push({
    data: {{ spending.total }}/100,
    label: "{{ spending.name }}"
})
{% endfor %}
build_piechart(stats, 'spendings-category-chart-div',
               'spendings-category-legend-div')
{% endif %}
</script>


{% endblock  %}
